/*Styling for whole page*/
body {
    background-color: #ffffff;
}

* {
    font-family: 'Times New Roman';
}
/*Style my image on map.html*/
img {
    width: 50%;
    display: block;
    margin: auto;
}

/*Style my image on majors_and_minors.html*/
.img2 {
    width: 80%;
    display: block;
    margin: auto;
}

/*Styling for flex containers on map.html*/
.blue_box {
    background-color: #00529e;
    color: white;
    padding: 15px;
    margin: 20px;
}

/*Styling for buttons*/
.btn {
    background-color: #00529e;
}

.btn:hover {
    background-color: darkblue;
}

/*Styling the slideshow*/
.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #f1f1f1;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 18px;
    border-radius: 3px;
    user-select: none;
}

.prev { left: 0; }
.next { right: 0; }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.fade {
    animation: fade 0.5s;
}

@keyframes fade {
    from { opacity: 0.7; }
    to { opacity: 1; }
}

/*Adding a media query*/
@media (max-width: 600px) {
    body {
        font-size: 16px;
        margin: 5px;
        padding: 10px;
    }
    .flex_container {
        flex-direction: column;
        align-items: center;
    }
}